<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="dashboard">
    <h2>Welcome {{user}}</h2>

    <div class="box">
        <h3>👥 Groups</h3>

        <form method="POST" action="/create_group">
            <input name="group_name" placeholder="New group name" required>
            <button>Create Group</button>
        </form>

        <br>

        <a href="/groups">
            <button>View My Groups</button>
        </a>
    </div>

</div>

</body>
</html>