<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="navbar">
    <h2>🎵 Trackora</h2>
</div>

<div class="dashboard">

    <div class="hub-card purple">
        <h2>Login</h2>

        <form method="POST">
            <input name="email" placeholder="Email" required>
            <input name="password" type="password" placeholder="Password" required>
            <button>Login</button>
        </form>

        <br>

        <a href="/signup">
            <button>Create Account</button>
        </a>
    </div>

</div>

</body>
</html>