<!DOCTYPE html>
<html>
<head>
    <title>Performance</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="navbar">
    <h2>🎵 Trackora</h2>
    <div>
        <a href="/dashboard">Dashboard</a>
        <a href="/groups">Groups</a>
        <a href="/collab">Collab</a>
    </div>
</div>

<div class="dashboard">

    <h1>📊 Performance Report</h1>

    <div class="hub-card">
        <h2>Total Practice Days</h2>
        <p>{{days}}</p>
    </div>

    <a href="/dashboard">
        <button>⬅ Back</button>
    </a>

</div>

</body>
</html>